#circle {
  border-radius: 100%;
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.box {
  height: 120px;
  width: 120px;
  padding: 20px;
  margin: 20px;
  border: 5px solid blue;
  display: inline-block
}
